.container {
	max-width: $web-width;
	padding: 0 1.5rem;
	margin: auto;
	overflow: hidden;
	align-items: center;
}

// btn's

%btn-shared {
	display: inline-block;
	padding: 0.8rem 1.2rem;
	transition: all 0.5s;
	border: none;
	cursor: pointer;
}

.btn {
	&-main {
		@extend %btn-shared;
		color: #fff;
		background-color: $main-color;
	}
	&-light {
		@extend %btn-shared;
		color: #fff;
		background-color: $light-color;
	}
	&-dark {
		@extend %btn-shared;
		color: #f4f4f4;
		font-size: 2rem;
		background-color: $dark-color;
	}
}

#btn-sbm {
	width: 100px;
	height: 50px;
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
	background-color: $main-color !important;
}

.lead {
	font-size: 1.1rem;
	margin-bottom: 2rem;
}

.text-center {
	text-align: center;
}

// Padding

.py {
	&-1 {
		padding: 1rem 0;
	}
	&-2 {
		padding: 1.7rem 0;
	}
	&-3 {
		padding: 3rem 0;
	}
	&-4 {
		padding: 3rem 0;
	}
}

// Marginesy

.my {
	&-1 {
		margin: 1rem 0;
	}
	&-2 {
		margin: 2rem 0;
	}
}

.stats-title {
	font-size: 2.5rem;
	display: block;
	padding-bottom: 0.5rem;
	text-align: center;
	font-weight: 100;
	text-transform: uppercase;
}

.bottom-line {
	height: 2px;
	width: 4rem;
	background: $main-color;
	display: block;
	margin: 0 auto 1rem auto;
}
