$web-width: 1280px;
$main-color: #ff8000;
$light-color: rgba(252, 182, 111, 0.1);
$medium-color: rgba(252, 160, 66, 0.2);
$dark-color: brown;
$bg-img: url("../img/showcase.jpeg");
$ft-img: url("../img/footer.tiff");
